[submodule "themes/Niello"]
	path = themes/Niello
	url = https://github.com/guangmean/Niello.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/lxgr-linux/hugo-theme-anubis
